Django>=4.2,<5.0
djangorestframework>=3.14.0
psycopg2-binary>=2.9.6
django-environ>=0.10.0
drf-spectacular>=0.26.2
django-extensions>=3.2.1
django-cors-headers>=4.1.0
gunicorn>=21.2.0

# Linting & Formatting
flake8>=6.0.0
black>=23.3.0
isort>=5.12.0
